@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
   }
h1 {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}
h4 {
    color: rgba(255, 255, 255);
    font-size: 23px;
}
.body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/ViewerWallpaper.jpg");
    background-size: cover;
    background-position: center;
}
.navbar {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/MainWallpaper.jpg");
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content:space-between;
    padding: 10px 50px;
}
.soc a {
    margin-left: 1px;
    font-size: 1.3em;
    padding: 0%;
}
.soc :hover{
    transform: scale(1.1);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: lightskyblue;
    transition: .4s;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.container:hover .video {
    transform: translate3d(0px, 0px, 0px); scale: 0.9, 0.9, 1;
    rotate: 0deg 0deg 0deg;
    transform-style: preserve-3d;
}
.video {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.297);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s;
}
.container:hover .video:hover{
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1);
    rotate: 0deg 0deg 0deg;
    transform-style: preserve-3d;
    box-shadow: 0px 4px 4px #8fe0d88d;

}